<%= render 'layouts/header' %>

<section>

<div id="profile-box">

  <p> <span class="profile-info name"><%= @user.name %> </span> </p>
  <hr style="color:#efefef">

  <span class="profile-info"> <%= @user.email %></span>

<%= link_to 'Edit', edit_user_path(@user) %>

</div>

</section>
