<%= render 'layouts/header' %>
<div id="wrapper">
  <section id="primary">
    <h2 id="contact">Contact us!!</h2>
    <p>If you have any questions or comments please email us!</p>
  </section>
  <section id="secondary">

    <ul class="contact-info">
      <li class="mail"><a href="mailto:actinglikeakidco@gmail.com">actinglikeakidco@gmail.com</a></li><br>
    </ul>
  </section>

<div class = "image">
  <%= image_tag('onthephone.jpg') %>
</div>

<%= render 'layouts/footer' %>
