<style type="text/css">
html, body, .navbar {
  background-color: #EDEA44;
}


.navbar-default .navbar-brand, .jumbotron, #navbar > ul > li > a, .footer > div > p {
  color: black;
}

footer, header {
  width: auto;
}


</style>

<%= render 'layouts/header' %>

<div class="container">
  <div class="jumbotron">
    <h1>Contact Us!</h1>
    <p class="lead">If you have any questions or comments please email us!</p>
    <p class="lead"><%= image_tag('onthephone.jpg', :class => 'contact-img img-responsive') %></p>
    <p><a class="btn btn-lg btn-success" href="mailto:actinglikeakidco@gmail.com" role="button">email us!</a></p>
  </div>
  <%= render 'layouts/footer' %>
</div>
