<%= render 'layouts/header' %>
<div id="wrapper">
  <section id="primary">
    <h2 id="contact">Contact us!!</h2>
    <p>If you have any questions or comments please email us!</p>
    <p>Or visit our Facebook page.</p>
  </section>
  <section id="secondary">

    <ul class="contact-info">
      <li class="mail"><a href="mailto:actinglikeakidco@gmail.com">actinglikeakidco@gmail.com</a></li><br>
    </ul>
  </section>

<div>
  <img src="img/onthephone.jpg" alt="Students of Acting Like A Kid co." class="final">
</div>

<%= render 'layouts/footer' %>
