<%= render 'layouts/header' %>
<section>
  <ul id="gallery">
    <li>
      <a href="img/cast.jpg">
        <img src="img/cast.jpg" alt="Cast of Stone Soup">
      </a>
    </li>
    <li>
      <a href="img/cast-two.jpg">
        <img src="img/cast-two.jpg" alt="Cast of Stone Soup">
      </a>
    </li>
    <li>
      <a href="img/chorusline.jpg">
        <img src="img/chorusline.jpg" alt="The Cast standing in line">
      </a>
    </li>
    <li>
      <a href="img/close-up.jpg">
        <img src="img/close-up.jpg" alt="Playing on the Playground">
      </a>
    </li>
    <li>
      <a href="img/hang-one.jpg">
        <img src="img/hang-one.jpg" alt="Hanging around!">
      </a>
    </li>
  </ul>
</section>
