<%= render 'layouts/header' %>
<h1>about</h1>
 <div class="info">
        <img src="img/amy-sam.jpg" alt="Amy and Sam" class="profile-photo">
        <h3>Mission Statment</h3>
        <p>Samantha McGuinness and Amy Hall formed Acting Like a Kid Theater Company to educate children in the fundamentals of music, theater, and dance.  We intend to accomplish this by teaching weekly classes in music theory, voice, stage movement, improvisation, acting, dance, and theater production, complying with all the National Standards for music, theater and dance.  Each class concludes in a final performance also benefiting the community by strengthening the cultural environment and providing an emotional outlet for those participating and observing. The performance will showcase how the students have benefited from their classes by displaying collaborative learning, combining three different expressions of art (music, theater, and dance), and by creating self-confidence in their new-found knowledge.  The students also benefit by learning the history and culture of Music Theater and how to express themselves through the arts.</p>
      </div>

      <div class="info">
        <img src="img/nervous.jpg" alt="Amy Hall" class="profile-photo">
          <h3>Amy Hall</h3>
            <p>Amy Hall graduated Suma Cum Laude from Salem State University in 2005 with a BFA in Theater Arts with a concentration in Performance. After moving to New York City in 2006, Amy became a founding member of Whirled Peas Productions where she produced and starred in several plays including Thoroughly Stupid Things which celebrated a highly successful and accredited run at the NYC Fringe Festival in 2009.
But Amy's "career" in theater truly began at The Performing Arts Conservatory in Grand Junction, CO where she participated in countless children's and community theater productions from the age of 6 all the way through high school. "Having theater in my life from such a young age truly helped change and shape me as I grew into adulthood. It gave me immense confidence, poise, and an exposure to culture; it sharpened my mind, improving my concentration and memorization skills; theater strengthened my social skills and taught me how to both work within a group as well as be a leader. More than anything, though, theater was fun! I made some of my best friends and memories while doing children's theater, and it's always been my dream to bring theater to other children and perhaps change their lives in the way mine was irrevocably changed."</p>
      </div>

      <div class="info">
        <img src="img/sam-alk.jpg" alt="Sam McGuinness" class="profile-photo">
          <h3>Sam McGuinness</h3>
            <p>Samantha McGuinness grew up in North Carolina where she started studying voice at the age of 11.
She was first runner up in the North Carolina Music Federation competition at the age of 17. Samantha
went on to Meredith College in Raleigh, NC and majored in Music Education with a concentration in
voice. She has performed in several roles in Capital City Opera Company including Barbarina in “Le
Nozze di Figaro” by Mozart and the Dew Fairy in “Hansel und Gretel” by Humperdinck. After graduating,
Samantha went to Conegliano, Italy and study voice, acting, and dance. In 2006 she moved to NYC to
continue studying music and to teach. Since moving to NYC Samantha has had the privilege to perform
with amazing artists such as Liza Minnelli, Sutton Foster, Marvin Hamlisch and with groups such as The
Choral Union at Julliard and New York City’s Master Chorale. For the past five years Samantha has
taught Kindergarten and First Grade music at P.S. 183 as well as teaching students of all ages’ private
piano and voice lessons throughout the city. Samantha is extremely proud of all her students and feels
inspired by their talent and dedication each student puts into their music.</p>
      </div>
