<!DOCTYPE html>
<html>
<head>
  <title>ALK</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>


  <%= yield %>

    <footer>
      <a href="https://www.facebook.com/ActingLikeAKidCo"> Visit us on Facebook!! <img src="img/facebook-wrap.png" alt="Facebook Logo" class="social-icon"></a>
      <p>&copy; 2014 Acting Like A Kid Co.</p>
    </footer>
  </body>
</html>
